[build-system]
requires = ["cloudpickle", "pyzmq", "setuptools", "versioneer[toml]==0.29"]
build-backend = "setuptools.build_meta"

[project]
name = "executorlib"
description = "Scale serial and MPI-parallel python functions over hundreds of compute nodes all from within a jupyter notebook or serial python process."
authors = [
    { name = "Jan Janssen", email = "janssen@lanl.gov" },
]
readme = "README.md"
license = { file = "LICENSE" }
keywords = ["pyiron"]
requires-python = ">=3.9, <3.13"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Topic :: Scientific/Engineering :: Physics",
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    "cloudpickle==3.0.0",
    "pyzmq==26.0.3",
]
dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/pyiron/executorlib"
Documentation = "https://executorlib.readthedocs.io"
Repository = "https://github.com/pyiron/executorlib"

[project.optional-dependencies]
conda = ["conda_subprocess==0.0.4"]
mpi = ["mpi4py==3.1.6"]
hdf = [
    "h5py==3.11.0",
    "h5io==0.2.4",
]
graph = [
    "pygraphviz==1.13",
    "matplotlib==3.9.1",
    "networkx==3.3",
    "ipython==8.26.0",
]

[tool.setuptools.packages.find]
include = ["executorlib*"]

[tool.setuptools.dynamic]
version = {attr = "executorlib.__version__"}

[tool.versioneer]
VCS = "git"
style = "pep440-pre"
versionfile_source = "executorlib/_version.py"
parentdir_prefix = "executorlib"
tag_prefix = "executorlib-"
