channels:
- conda-forge
dependencies:
- python
- numpy
- mpich
- cloudpickle =3.1.1
- mpi4py =4.0.1
- pyzmq =26.2.0
- h5py =3.12.1
- networkx =3.4.2
- pygraphviz =1.14
- ipython =8.31.0
- pysqa =0.2.3
- setuptools =75.1.0
