channels:
- conda-forge
dependencies:
- python
- numpy =2.3.3
- openmpi
- cloudpickle =3.1.2
- flux-core =0.81.0
- flux-pmix =0.6.0
- hatchling =1.28.0
- hatch-vcs =0.5.0
- h5py =3.15.1
- ipython =9.9.0
- matplotlib =3.10.0
- mpi4py =4.1.1
- networkx =3.6.1
- pygraphviz =1.14
- pysqa =0.3.3
- pyzmq =27.1.0
