name: Bot auto-merge
on:
  pull_request:  # yamllint disable-line rule:truthy
  workflow_run:
    workflows: ["Benchmark", "Black", "Unittests-minimal", "Notebooks", "Pip check", "Unittest", "Unittests-flux-mpich", "Unittests-flux-openmpi", "Unittests-mpich", "Unittests-openmpi", "Unittests-msmpi", "Unittest Lower Bound"]
    types: [completed]

permissions:
  contents: write
  pull-requests: write

jobs:
  autobot:
    runs-on: ubuntu-latest
    if: (github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.user.login == 'pre-commit-ci[bot]') && github.event.pull_request.conclusion == 'success' && github.repository == 'pyiron/executorlib'
    steps:
      - name: Enable auto-merge for bot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
