name: Pip check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        auto-update-conda: true
        python-version: '3.11'
        channel-priority: strict
        environment-file: .ci_support/environment-openmpi.yml
        miniforge-variant: Mambaforge
    - name: Setup
      shell: bash -l {0}
      run: |
        pip install --no-deps .
        pip check
