name: Unittests-flux-openmpi

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Extend environment
      shell: bash -l {0}
      timeout-minutes: 5
      run: |
        echo -e '- coverage\n- flux-core =0.59.0\n- flux-pmix=0.5.0\n- versioneer =0.28' >> .ci_support/environment-openmpi.yml
        cat .ci_support/environment-openmpi.yml
        echo -e "channels:\n  - conda-forge\n" > .condarc
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: '3.12'
        miniforge-version: latest
        condarc-file: .condarc
        environment-file: .ci_support/environment-openmpi.yml
    - name: Test
      shell: bash -l {0}
      timeout-minutes: 5
      run: |
        pip install . --no-deps --no-build-isolation
        coverage run -a --omit="executorlib/_version.py,tests/*" -m unittest discover tests
    - name: Test Flux with OpenMPI
      shell: bash -l {0}
      timeout-minutes: 5
      run: >
        flux start
        coverage run -a --omit="executorlib/_version.py,tests/*" -m unittest tests/test_flux_executor.py tests/test_executor_backend_flux.py tests/test_cache_executor_pysqa_flux.py tests/test_plot_dependency_flux.py;
        coverage xml
      env:
        PYMPIPOOL_PMIX: "pmix"
        TMPDIR: "/tmp"   # required by MacOs https://github.com/open-mpi/ompi/issues/7393
    - name: Coveralls
      uses: coverallsapp/github-action@v2
