# This workflow is used to run the unittest of pyiron

name: Unittests-mpich

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
        python-version: ['3.11']
        include:
        - operating-system: ubuntu-latest
          python-version: '3.8'
        - operating-system: ubuntu-latest
          python-version: '3.9'
        - operating-system: ubuntu-latest
          python-version: '3.10'

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        python-version: ${{ matrix.python-version }}
        mamba-version: "*"
        channels: conda-forge
        miniforge-variant: Mambaforge
        channel-priority: strict
        auto-update-conda: true
        environment-file: .ci_support/environment-mpich.yml
    - name: Test
      shell: bash -l {0}
      timeout-minutes: 30
      run: python -m unittest discover tests
