# This workflow is used to run the unittest of pyiron

name: Unittests-msmpi

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [windows-latest]
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        python-version: ${{ matrix.python-version }}
        mamba-version: "*"
        channels: conda-forge
        miniforge-variant: Mambaforge
        channel-priority: strict
        auto-update-conda: true
        environment-file: .ci_support/environment-win.yml
    - name: Test
      shell: bash -l {0}
      timeout-minutes: 5
      run: |
        pip install --no-deps .
        cd tests
        python -m unittest discover .
